export ETHEREUM_RPC_ENDPOINT="http://localhost:8545"
export SSRURL="http://localhost:3001/"
export CHEERFOR_URL="http://localhost:3000/"

# Your EOA
# ***** DON'T USE IT FOR PRODUCTION *****
export MNEMONIC="physical siege permit top wet rose genuine leisure cool denial toddler nerve"

export POA_CHAIN_ADMIN_PUBLIC_KEY=`cat parameters.json | jq -r '.parameters.ethereumAdminPublicKey.value'`
